.chatlist-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.chat-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(237, 237, 237);
  z-index: 1;
}



.chatrooms-list {
  position: relative;
  top:30px;
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: auto;
  z-index: 3;
  box-sizing: border-box;
  padding-top: 40px;
}

.chatroom-item {
  display: block;
  padding: 15px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s;
  height: auto;
  min-height: 70px; /* this is the chatlist height*/

  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

/* Add a subtle separator between items */
.chatroom-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chatroom-item:hover {
  background-color: rgba(255, 255, 255, 1);
}

.chatroom-item-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.list-chatroom-thumbnail {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.list-chatroom-name {
  flex-grow: 1;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  line-height: 40px;
  transition: color 0.3s;
}

.chatroom-item:hover .list-chatroom-name {
  color: #007bff;
}
