.photo-ocr-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.camera-view {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qr-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.qr-url-textboxx{
  width: 90%;
  margin: 20px 0;
}

.qr-url-textboxxinput {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.camera-toggle,
.cameraa-switch {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.camera-toggle:hover,
.cameraa-switch:hover {
  background-color: #0056b3;
}
