.slider-container {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  text-align: center;
  z-index: 10000;
  background-color: rgba(305, 305, 305, 0);
  padding: 10px;
  border-radius: 10px;

}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% + 30px);
  height: 30px;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 19px;
  position: relative;
  cursor: pointer;
  z-index: 10003;
  margin: 0 -17px;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  background: transparent;
}

.slider::-moz-range-track {
  width: 100%;
  height: 30px;
  background: transparent;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  z-index: 10004;
  position: relative;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.slider.chatroom::-webkit-slider-thumb,
.slider.chatroom::-moz-range-thumb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2330c759'%3E%3Cpath d='M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E");

}

.slider.walkietalkie::-webkit-slider-thumb,
.slider.walkietalkie::-moz-range-thumb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2330c759'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-6h2v2h-2zm0-8h2v6h-2z'/%3E%3C/svg%3E");
}

.slider.lecture::-webkit-slider-thumb,
.slider.lecture::-moz-range-thumb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2330c759'%3E%3Cpath d='M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z'/%3E%3C/svg%3E");
}

.slider::-webkit-slider-thumb:hover,
.slider::-moz-range-thumb:hover {
  transform: scale(1.1);
}

.slider-background {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 30px;
  background-color: #fafafa5f;
  border-radius: 17px;
  overflow: hidden;
  z-index: 10001;
}

.slider-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.3s ease, background-color 0.3s ease;
  border-radius: 17px;
  z-index: 10002;
}

.slider-labels {
  position: absolute;
  top: 0;
  left: 12px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 25px);
  margin-top: 15px;
  z-index: 100000;
  pointer-events: none;
}

.label-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}

.label-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.2;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.label-container.selected .label-image {
  opacity: 1;
}
